@import url('https://fonts.googleapis.com/css2?family=Host+Grotesk:ital,wght@0,300..800;1,300..800&display=swap');
@import './assets/styles/variables.css';
@import 'tailwindcss';

*,
::before,
::after {
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Host Grotesk', sans-serif;
}

body {
  width: 100%;
  height: 100dvh;
  background: var(--surface-1);
}

#root {
  width: 100%;
  height: 100%;
}
